.q2c-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
  overflow: hidden;
  background-color: $orange;
  background-image: url("../images/orange-overlay.jpg");
  background-position: center;
  background-size: cover;

  @media (min-width: $screen-sm-min) {
    height: 400px;
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    min-height: 510px;
  }
}