.q2c-calculate-again {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  background: rgba($black, .5);
  z-index: 10000;
  padding: $bit-padding;
  overflow: scroll;

  @media (min-width: $screen-sm-min) {
    padding: $bit-padding * 4;
  }

  &--visible {
    display: block;
    width: 100%;
    height: 100%;
  }

  &__form-wrapper {
    position: relative;
    background-color: $gray-lightest;
    border-radius: 4px;
    padding: $bit-padding;
    max-width: 500px;
    margin: 0 auto;
  }

  &__close {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background-color: $orange;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;

    &:hover, &:active {
      cursor: pointer;
    }

    svg {
      width: 15px;
      height: 15px;
    }
  }
}