.q2c-card {
  background: $gray-lightest;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
  border-radius: 4px;

  $q2c-card: &;

  &__content {
    padding: 20px;

    @media (min-width: $screen-sm-min) {
      padding: 30px;
    }
  }

  &__footer {
    background: rgba($orange, 0.1);
    border-radius: 4px;
    font-size: 14px;
    line-height: 16px;
    color: $orange;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      flex: 0 0 25px;
      margin-right: 10px;
    }
  }

  &__title {
    font-size: 26px;
    line-height: 29px;
    color: #474441;
    font-family: $font-family-headings;
    margin: 0 0 20px 0;
    font-weight: $font-weight-bold;
    text-align: center;

    @media (min-width: $screen-sm-min) {
      font-size: 32px;
      line-height: 35px;
      text-align: left;
      margin: 0 0 10px 0;
    }

    &--has-text-centered {
      text-align: center;
    }
  }

  &__subtitle {
    font-size: 18px;
    line-height: 20px;
    font-family: $font-family-headings;
    color: $orange;
    font-weight: $font-weight-bold;
    text-align: center;
    padding: 0;
    margin: 0 0 30px 0;

    @media (min-width: $screen-sm-min) {
      font-size: 22px;
      line-height: 24px;
      text-align: left;
    }

    &--has-text-centered {
      text-align: center;
    }
  }
}