.q2c-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: $orange;
  border-radius: 4px;
  padding: 15px 20px;
  line-height: 1;
  font-size: 20px;
  min-height: 56px;
  text-transform: unset;
  font-family: $font-family-headings;
  letter-spacing: 0;
  transition: all .2s;
  color: $white;
  text-decoration: none;
  font-weight: $font-weight-bold;

  &:hover, &:active, &:focus {
    background: darken($orange, 5%);
    text-transform: none;
  }

  &--outline {
    background-color: transparent;
    border: 1px solid $dark-blue;
    color: $dark-blue;
    transition: all .2s;

    &:hover, &:active {
      background: $dark-blue;
      color: $white;
    }
  }

  &--white-outline {
    background-color: transparent;
    border: 2px solid $white;
    color: $white;

    &:hover, &:active {
      background: $orange;
      color: $white;
      border-color: $orange;
    }
  }

  &--small {
    font-size: 16px;
  }

  svg {
    &:first-child {
      margin-right: 15px;
    }

    &:last-child {
      margin-left: 15px;
    }
  }
}