.q2c-result {
  position: relative;
  background: $gray-lightest;

  @media (min-width: $screen-sm-min) {
    padding: 50px 0;
  }

  &__content {
    position: relative;
  }

  &__title {
    color: $gray-lightest;
    font-size: 48px;
    line-height: 53px;
    font-weight: $font-weight-normal;
    font-family: $font-family-headings;
    text-align: center;
    padding: 40px 0 20px 0;
    margin: 0;
  }

  &__subtitle {
    font-size: 28px;
    line-height: 120%;
    color: $gray-lightest;
    font-weight: $font-weight-normal;
    font-family: $font-family-headings;
    text-align: center;
    margin: 0 0 40px 0;
    padding: 0;
  }

  &__boxes-wrapper {
    //
  }

  &__boxes {
    @media (min-width: $screen-sm-min) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;
    border: 1px solid #FF8A00;
    box-sizing: border-box;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 16px;

    @media (min-width: $screen-sm-min) {
      flex: 0 0 48.5%;
    }

    $this: &;

    &--is-large {
      flex: 0 0 100%;

      #{$this}__content {
        @media (min-width: $screen-sm-min) {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
    
    &__figure, &__description {
      display: block;
    }
    
    &__title {
      color: $orange;
      font-size: 20px;
      padding: 15px;
      border-bottom: 1px solid $orange;
      line-height: 1.2;

      @media (min-width: $screen-sm-min) {
        font-size: 17px;
        padding: 20px;
      }
    }

    &__content {
      padding: 20px;
    }

    &__large-image {
      display: block;
      width: 200px;
      height: auto;
      margin: 0 auto;

      @media (min-width: $screen-lg-min) {
        width: 250px;
        margin-right: 20px;
      }
    }

    &__image {
      display: block;
      margin: 0 auto 20px auto;

      img {
        width: auto;
        height: 40px;
      }
    }

    &__number {
      display: block;
      color: $orange;
      font-size: 40px;
      margin-bottom: 10px;
    }

    &__text {
      display: block;
      font-size: 28px;
      color: $gray-lighter;
    }

    &__compared-to-last_month {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;

      svg {
        margin-right: .5rem;
      }
    }
  }

  &__request-email {
    margin: 20px 0;

    &__link {
      display: block;
      width: 100%;
      font-size: 18px;
      line-height: 150%;
      text-align: center;
      text-decoration-line: underline;
      color: #296E82;
    }

    &__success, &__fail {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;

      svg {
        width: 24px;
        height: 24px;
        margin-right: 10px;
      }
    }
  }

  &__small-text {
    display: block;
    font-size: 12px;
    line-height: 140%;
    text-align: center;
    color: rgba(#474441, .5);
    margin-bottom: 10px;
  }

  &__video-and-text {
    margin-top: 30px;

    $this: &;

    @media (min-width: $screen-sm-min) {
      background: $gray-lightest;
      box-shadow: 0 4px 10px rgba($black, 0.12);
      border-radius: 4px;
      margin-bottom: 50px;

      #{$this}__title {
        padding: 30px 30px 15px 30px;
      }

      #{$this}__text {
        padding: 0 30px 30px 30px;
      }
    }

    &__title {
      font-size: 30px;
      line-height: 33px;
      color: $orange;
      font-family: $font-family-headings;
      padding: 0;
      margin: 0 0 10px 0;
    }

    &__text {
      font-size: 16px;
      line-height: 150%;
      padding: 0;
      margin: 0;

      p {
        padding: 0;
        margin: 0;
      }
    }
  }

  &__testimonial {
    background: #F1F1F1;
    font-size: 24px;
    line-height: 150%;
    padding: 30px 0 30px;

    &, & p {
      font-family: $font-family-headings;
    }

    @media (min-width: $screen-sm-min) {
      padding: 50px 0 50px;
      font-size: 28px;
    }

    small {
      font-size: 90%;
    }

    &__content {
      position: relative;
    }

    &__image {
      width: 236px;
      height: 236px;
      border-radius: 50%;
      overflow: hidden;
      margin: 0 auto;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    &__icon {
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      flex: 0 0 40px;
      margin-right: 15px;

      @media (min-width: $screen-sm-min) {
        top: 10px;
        left: -70px;
        width: 50px;
        flex: 0 0 50px;
      }

      svg {
        object-fit: contain;
        width: 100%;
      }
    }

    &__text {
      padding-left: 60px;

      @media (min-width: $screen-sm-min) {
        padding: 0;
      }
    }

    &__logo {
      img {
        max-width: 100%;
        height: 40px;
      }

      @media (min-width: $screen-md-min) {
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }

  &__cta {
    color: $white;
    background-color: gray;
    background-image: url("../images/green-overlay.jpg");
    background-position: center;
    background-size: cover;
    padding: 20px 0;

    @media (min-width: $screen-sm-min) {
      padding: 40px 0;
    }

    &__text {
      font-family: $font-family-headings;
      padding: 0;
      margin: 0;
      font-size: 32px;
      line-height: 120%;
    }

    &__button {
      //
    }
  }

  &__features {
    padding: 15px 0;

    @media (min-width: $screen-sm-min) {
      padding: 50px 0;
    }

    &__topline {
      font-size: 16px;
      line-height: 18px;
      color: $gray;
      font-family: $font-family-headings;
      font-weight: $font-weight-bold;
      letter-spacing: 1px;
      text-transform: uppercase;
      padding: 0;
      margin: 0 0 15px 0;
    }

    &__title {
      font-family: $font-family-headings;
      color: $orange;
      font-size: 36px;
      line-height: 40px;
      padding: 0;
      margin: 0 0 15px 0;
    }

    &__text {
      padding: 0;
      margin: 0;
      font-size: 16px;
      line-height: 150%;
      color: $gray;
    }

    &__features {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__feature {
      flex: 0 0 48%;
      margin-bottom: 12px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      color: $gray;
      font-size: 19px;
      line-height: 21px;
      font-family: $font-family-headings;
      background: #F1F1F1;
      border-radius: 9px;
      text-align: center;

      @media (min-width: $screen-md-min) {
        flex: 0 0 32%;
      }

      figure {
        height: 90px;
        text-align: center;
        margin-bottom: 10px;

        img {
          margin: 0 auto;
          object-fit: contain;
          width: 100%;
          height: 100%;
        }
      }

      span {
        display: inline-block;
      }
    }
  }

  &__logos {
    padding-bottom: 30px;

    &__title {
      font-size: 36px;
      line-height: 40px;
      text-align: center;
      color: $orange;
      font-family: $font-family-headings;
      margin: 0 auto 30px;
      padding: 0;
      max-width: 800px;
    }

    &__logos {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    &__logo {
      height: 40px;
      width: 140px;
      margin: 10px;

      @media (min-width: $screen-sm-min) {
        margin: 15px 30px;
        height: 50px;
        width: 160px;
      }

      img {
        object-fit: contain;
        width: 100%;
        height: 100%;
      }
    }
  }
}