.q2c-landingpage {
  font-family: $font-family-base;
  background-color: $gray-lightest;
  position: relative;

  @media (min-width: $screen-sm-min) {
    padding: 40px 0;
  }

  &__content {
    position: relative;
  }

  &__title {
    font-family: $font-family-headings;
    color: $white;
    font-size: 40px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.014em;
    font-weight: $font-weight-normal;
    margin: 40px 0 15px;
    padding: 0;

    @media (min-width: $screen-sm-min) {
      max-width: 400px;
      margin: 0px auto 30px;
    }

    @media (min-width: $screen-md-min) {
      text-align: left;
      margin: 0 0 15px;
      max-width: 500px;
      font-size: 48px;
    }
  }

  &__introduction {
    font-size: 20px;
    line-height: 150%;

    @media (min-width: $screen-sm-min) {
      font-size: 24px;
    }
  }

  &__usps {
    font-size: 16px;
    color: $gray-light;

    ul {
      list-style: none;
      margin: 0;

      li {
        display: flex;
        margin: 0 0 10px 0;

        @media (min-width: $screen-sm-min) {
          align-items: center;
        }

        span {
          //
        }

        svg {
          flex: 0 0 22px;
          width: 22px;
          height: 22px;
          margin: 5px 13px 0 0;

          @media (min-width: $screen-sm-min) {
            margin: 0 13px 0 0;
          }
        }
      }
    }
  }

  &__highlighted-text {
    background-color: rgba( #007285, 0.12);
    padding: 17px 25px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 150%;

    h2 {
      color: #007285;
      padding: 0;
      margin: 0 0 15px;
      font-family: $font-family-headings;
      font-size: 20px;
      line-height: 130%;
      font-weight: $font-weight-bold;

      @media (min-width: $screen-sm-min) {
        font-size: 24px;
      }
    }

    p {
      margin-bottom: 15px;
    }
  }
}