.q2c-form {
  $this: &;

  &--is-multistep {
    //
  }

  &__title {
    font-family: $font-family-headings;
    font-weight: $font-weight-bold;
    font-size: 26px;
    line-height: 29px;
    letter-spacing: 0.014em;
    color: $gray;
    margin-bottom: 30px;
    padding: 0;

    @media (min-width: $screen-sm-min) {
      font-size: 32px;
      line-height: 35px;
    }
  }

  &__error {
    display: none;
    color: red;
    font-size: 14px;
    padding-top: 5px;
  }

  &__input {
    &--has-prefix {
      position: relative;

      input {
        padding-left: 25px !important;
      }
    }

    &__prefix {
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translateY(-50%);
      color: $gray-lighter;
      font-size: 80%;
      line-height: 1;
      font-family: $font-family-headings;
    }
  }

  &__group {
    margin-bottom: 18px;
    position: relative;

    &--has-prefix {
      border: 2px dashed blue;
    }

    &--has-error {
      input, select {
        border-color: red !important;
      }

      #{$this}__error {
        display: block;
      }
    }

    &--consent {
      display: flex;
      align-items: center;

      input {
        margin-right: 8px;
      }

      label {
        margin-bottom: 0 !important;
      }

    }

    &--range {
      font-family: $font-family-headings;

      &__value {
        color: $orange;
        font-size: 18px;
        font-weight: $font-weight-bold;
        display: block;
        padding-top: 5px;
      }

      &__percentages {
        position: relative;
        text-align: center;
        display: flex;
        justify-content: space-between;
        font-size: 15px;
        font-weight: $font-weight-bold;
        color: $gray-light;
      }
    }

    label {
      display: block;
      color: $gray-light;
      font-weight: $font-weight-bold;
      font-style: normal;
      font-size: 16px;
      line-height: 130%;
      font-family: $font-family-headings;
      margin-bottom: 5px;

      span {
        color: inherit;
      }

      @media (min-width: $screen-sm-min) {
        font-size: 18px;
      }
    }

    input {
      border-radius: $border-radius;
      border: 1px solid $gray-lighter;
      padding: 10px;
      background: $gray-lightest;
      font-family: $font-family-headings;
      color: $gray;

      &:active, &:focus {
        border: 1px solid $orange;
      }

      &::placeholder {
        color: $gray-lighter;
      }

      &[type=range] {
        border: none;
        width: 100%;
        padding: 20px 0 10px 0;
        -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
        background: transparent; /* Otherwise white in Chrome */

        &::-webkit-slider-thumb {
          -webkit-appearance: none;
        }

        &:focus {
          outline: none;
        }

        &::-ms-track {
          width: 100%;
          cursor: pointer;

          /* Hides the slider so custom styles can be added */
          background: transparent;
          border-color: transparent;
          color: transparent;
        }

        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          border: 5px solid $white;
          background: $orange;
          height: 26px;
          width: 26px;
          border-radius: 50%;
          cursor: pointer;
          margin-top: -10px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

        &::-moz-range-thumb {
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          border: 5px solid $white;
          background: $orange;
          border-radius: 50%;
          height: 16px;
          width: 16px;
          cursor: pointer;
        }

        &::-ms-thumb {
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          border: 5px solid $white;
          background: $orange;
          height: 26px;
          width: 26px;
          border-radius: 50%;
          cursor: pointer;
        }

        &::-webkit-slider-runnable-track {
          width: 100%;
          height: 9px;
          cursor: pointer;
          background: $orange;
          border-radius: 10px;
        }

        &:focus::-webkit-slider-runnable-track {
          background: darken($orange, 5%);
        }

        &::-moz-range-track {
          width: 100%;
          height: 9px;
          cursor: pointer;
          background: $orange;
          border-radius: 10px;
        }

        &::-ms-track {
          width: 100%;
          height: 9px;
          cursor: pointer;
          background: transparent;
          border-color: transparent;
          border-width: 16px 0;
          color: transparent;
        }

        &::-ms-fill-lower {
          background: $orange;
          border-radius: 10px;
        }

        &:focus::-ms-fill-lower {
          background: $orange;
        }

        &::-ms-fill-upper {
          background: $orange;
          border-radius: 10px;
        }

        &:focus::-ms-fill-upper {
          background: $orange;
        }
      }
    }

    select {
      background: $gray-lightest;
    }
  }

  &__explanation {
    @media (min-width: $screen-sm-min) {
      position: relative;
    }

    $explanation: &;

    &--is-open {
      #{$explanation}__trigger {
        background-color: $orange;
        color: $white;
      }

      #{$explanation}__popup {
        display: block;
      }
    }

    &__trigger {
      display: inline-block;
      background: lighten($gray, 60%);
      width: 16px;
      height: 16px;
      line-height: 16px;
      border-radius: 50%;
      color: $gray;
      font-size: 10px;
      font-weight: $font-weight-bold;
      text-align: center;

      &:hover, &:active {
        cursor: pointer;
      }
    }

    &__popup {
      display: none;
      background-color: $gray-lightest;
      position: absolute;
      bottom: 10px;
      transform: translate(-50%, -100%);
      left: 50%;
      z-index: 11;
      width: 300px;
      padding: 15px;
      border-radius: 5px;
      font-weight: $font-weight-normal;
      font-family: $font-family-base;
      font-size: 14px;
      line-height: 150%;
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);

      @media (min-width: $screen-sm-min) {
        transform: translateX(-50%);
        bottom: 20px;
      }

      strong {
        display: block;
        font-weight: $font-weight-bold;
      }

      &__close {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 11px;

        &:hover, &:active {
          cursor: pointer;
        }
      }
    }
  }

  &__step {
    //
  }

  &__navigation {
    display: flex;
    justify-content: space-between;

    & > * {
      flex: 0 0 49%;

      &:only-child {
        flex: 0 0 100%;
      }
    }
  }
}