.q2c-video {
  display: block;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 15px;

  @media (min-width: $screen-sm-min) {
    margin-bottom: 0;
  }

  &__overlay {
    background: #1C1C1C;
    opacity: 0.78;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  &__thumbnail {
    width: 100%;
    position: relative;
    z-index: 1;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;

    svg {
      width: 50px;
      height: 50px;

      @media (min-width: $screen-sm-min) {
        width: 75px;
        height: 75px;
      }
    }
  }
}