.fancybox-bg {
    background-color: rgba($gray-dark, .7);
}

.fancybox-slide {
    padding: $bit-padding;

    @media (min-width: $screen-sm-min) {
        padding: $bit-padding * 4;
    }

    &.fancybox-slide--iframe {
        .fancybox-content {
            @media (min-width: $screen-md-min) {
                max-width: 70%;
                max-height: 70%;
            }

            @media (min-width: $screen-md-min) {
                max-width: 60%;
                max-height: 60%;
            }
        }
    }
}
