<div class="q2c-calculate-again" data-q2c-calculate-again-modal>
  <div class="q2c-calculate-again__form-wrapper">
    <div class="q2c-calculate-again__close" data-calculate-again-close>
      <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 1L9 9" stroke="#F6F6F6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M1 9L9 1" stroke="#F6F6F6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </div>
    <div class="q2c-form">
      <p class="q2c-form__title">Calculate again</p>
      <form action="{{action_url}}" method="post">
        <input type="hidden" name="action" value="q2c_calculate_again"/>
        <input type="hidden" name="q2c_calculate_again" value="{{nonce}}"/>
        <input type="hidden" name="post_id" value="{{post_id}}"/>
        {{{fields}}}
        <button class="q2c-button" type="submit">
          <svg width="20" height="23" viewBox="0 0 20 23" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M1 13.4192C1 18.1582 4.84177 22 9.58082 22C14.3199 22 18.1616 18.1582 18.1616 13.4192C18.1616 11.1136 17.2523 9.02039 15.7728 7.47862C14.2112 5.85134 12.0143 4.83836 9.58082 4.83836"
                stroke="#F6F6F6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M14.1656 2.00001L8.72266 4.64982L11.3725 10.0928" stroke="#F6F6F6" stroke-width="2"
                  stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <span>Calculate again</span>
        </button>
      </form>
    </div>
  </div>
</div>