<div class="q2c-form q2c-form--is-multistep" data-q2c-form>
  <p class="q2c-form__title">Calculate your time-savings potential</p>
  <form action="{{action_url}}" method="post">
    <input type="hidden" name="action" value="q2c_form_response">
    <input type="hidden" name="q2c_form_nonce" value="{{nonce}}"/>
    <div class="q2c-form__step" data-q2c-form-step="1">
      {{{step_one_fields}}}
      <div class="q2c-form__navigation">
        <button class="q2c-button" data-q2c-form-next-step>
          <span>Next step</span>
          <svg width="21" height="18" viewBox="0 0 21 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 9L19 9" stroke="#F6F6F6" stroke-width="2" stroke-linecap="round" stroke-linejoin="bevel"/>
            <path d="M12.376 2L19.1897 8.81371L12.376 15.6274" stroke="#F6F6F6" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="bevel"/>
          </svg>
        </button>
      </div>
    </div>
    <div class="q2c-form__step" data-q2c-form-step="2" style="display: none">
      {{{step_two_fields}}}
      <div class="q2c-form__navigation">
        <button class="q2c-button q2c-button--small q2c-button--outline" data-q2c-form-previous-step>Previous step
        </button>
        <button class="q2c-button q2c-button--small" type="submit" data-q2c-form-submit>Get Your Results</button>
      </div>
    </div>
  </form>
</div>