<div>
  <a href="{{video_url}}" class="q2c-video margin-bottom" rel="noreferrer noopener" target="_blank" data-fancybox>
    <div class="q2c-video__overlay"></div>
    <figure class="q2c-video__thumbnail">{{{thumbnail.html}}}</figure>
    <div class="q2c-video__play-button">
      <svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="25.9998" cy="26.2319" r="25.597" fill="#F6F6F6"/>
        <path
            d="M17.4678 35.7474V19.5605C17.4678 18.0625 19.0539 17.0962 20.3851 17.7832L36.0662 25.8767C37.5098 26.6218 37.5098 28.6861 36.0662 29.4312L20.3851 37.5247C19.0539 38.2117 17.4678 37.2454 17.4678 35.7474Z"
            fill="#F99C38"/>
      </svg>
    </div>
  </a>
  <div class="q2c-landingpage__introduction">{{{introduction}}}</div>
  <div class="q2c-landingpage__highlighted-text margin-bottom">
    <h2>{{{highlighted_text.title}}}</h2>
    {{{highlighted_text.text}}}
  </div>
  <div class="q2c-landingpage__usps">
    <ul>
      {{#usps}}
        <li>
          <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="11" cy="11" r="11" fill="#F99C38"/>
            <path d="M6.5 11.5L8.5 14.5L16 8" stroke="#F6F6F6" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round"/>
          </svg>
          <span>{{{text}}}</span>
        </li>
      {{/usps}}
    </ul>
  </div>
</div>