<div class="q2c-result" data-nonce="{{send_email_nonce}}" data-post-id="{{post_id}}">
  <div class="q2c-header">&nbsp;</div>
  <div class="q2c-result__content">
    <div class="q2c-container">

      <div class="hidden-desktop">
        <h1 class="q2c-result__title">Q2C Calculator</h1>
        <p class="q2c-result__subtitle">Discover the power of Quote-to-Cart for your sales teams.</p>
        <div class="q2c-card">
          <div class="q2c-card__content">
            <h2 class="q2c-card__title">Potential Fit for Quote-to-Cart</h2>
            <img src="{{automation_potential_image}}" alt=""
                 style="display:block;width: 100%;max-width:500px;margin:0 auto;">
          </div>
        </div>
      </div>

      <div class="q2c-frame">
        <div class="q2c-bit-xxs-12 q2c-bit-md-6">
          <div class="q2c-card">
            <div class="q2c-card__content">
              <div class="q2c-result__boxes-wrapper">
                <h2 class="q2c-card__title q2c-card__title--has-text-centered">{{{title}}}</h2>
                <p class="q2c-card__subtitle q2c-card__subtitle--has-text-centered">{{{subtitle}}}</p>
                <div class="q2c-result__boxes">
                  {{#boxes}}
                    <div class="q2c-result__box {{#is_large}}q2c-result__box--is-large{{/is_large}}">
                      <span class="q2c-result__box__title">{{{title}}}</span>
                      <div class="q2c-result__box__content">
                        <div class="q2c-result__box__left">
                          {{#large_image}}
                            <figure class="q2c-result__box__large-image">
                              <img src="{{{large_image}}}" alt="">
                            </figure>
                          {{/large_image}}
                        </div>
                        <div class="q2c-result__box__right">
                          {{#image}}
                            <span class="q2c-result__box__image">
                            <img src="{{{image}}}" alt="">
                          </span>
                          {{/image}}
                          <span class="q2c-result__box__number">{{{number}}}</span>
                          <span class="q2c-result__box__text">{{{text}}}</span>
                          {{#compared_to_last_month}}
                            <div class="q2c-result__box__compared-to-last_month margin-top-half">
                              <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.3388 6.64645L7.44974 0.757362C7.25448 0.5621 6.9379 0.5621 6.74264 0.757362L0.853553 6.64645C0.538571 6.96143 0.761655 7.5 1.20711 7.5H12.9853C13.4307 7.5 13.6538 6.96143 13.3388 6.64645Z" fill="#1A8291"/>
                              </svg>
                              <span>{{{compared_to_last_month}}}</span>
                            </div>
                          {{/compared_to_last_month}}
                        </div>
                      </div>
                    </div>
                  {{/boxes}}
                </div>
                <div>
                  <button class="q2c-button" data-calculate-again-button>
                    <svg width="20" height="23" viewBox="0 0 20 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                          d="M1 13.4192C1 18.1582 4.84177 22 9.58082 22C14.3199 22 18.1616 18.1582 18.1616 13.4192C18.1616 11.1136 17.2523 9.02039 15.7728 7.47862C14.2112 5.85134 12.0143 4.83836 9.58082 4.83836"
                          stroke="#F6F6F6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M14.1656 2.00001L8.72266 4.64982L11.3725 10.0928" stroke="#F6F6F6" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <span>Calculate again</span>
                  </button>
                  <div class="q2c-result__request-email">
                    <a href="#" class="q2c-result__request-email__link" data-request-email>Receive this report to your
                      inbox</a>
                    <div class="q2c-result__request-email__success" style="display: none;">
                      <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="11" cy="11" r="11" fill="#F99C38"/>
                        <path d="M6.5 11.5L8.5 14.5L16 8" stroke="#F6F6F6" stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round"/>
                      </svg>
                      <span>Success, please check your inbox!</span>
                    </div>
                    <div class="q2c-result__request-email__fail" style="display: none;">
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="12" cy="12" r="12" fill="#007285"/>
                        <path d="M8 8L16 16" stroke="#F6F6F6" stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round"/>
                        <path d="M8 16L16 8" stroke="#F6F6F6" stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round"/>
                      </svg>
                      <span>Oops, something went wrong!</span>
                    </div>
                  </div>
                  <div class="text-center">
                    <small class="q2c-result__small-text">By submitting, you acknowledge that you have read and
                      understood the cleverbridge.com privacy policy.</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="q2c-bit-xxs-12 q2c-bit-md-6">

          <div class="visible-desktop">
            <div class="q2c-card">
              <div class="q2c-card__content">
                <h2 class="q2c-card__title margin-bottom">Potential Fit for Quote-to-Cart</h2>
                <img src="{{automation_potential_image}}" alt=""
                     style="display:block;width: 100%;max-width: 450px; margin: 0 auto;">
              </div>
            </div>
          </div>

          {{#result_page_options.video_and_text}}
            <div class="q2c-result__video-and-text">
              <a href="{{video_url}}" class="q2c-video" rel="noreferrer noopener" target="_blank" data-fancybox>
                <div class="q2c-video__overlay"></div>
                <figure class="q2c-video__thumbnail">{{{thumbnail.html}}}</figure>
                <span class="q2c-video__play-button">
                  <svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="25.9998" cy="26.2319" r="25.597" fill="#F6F6F6"/>
                  <path
                      d="M17.4678 35.7474V19.5605C17.4678 18.0625 19.0539 17.0962 20.3851 17.7832L36.0662 25.8767C37.5098 26.6218 37.5098 28.6861 36.0662 29.4312L20.3851 37.5247C19.0539 38.2117 17.4678 37.2454 17.4678 35.7474Z"
                      fill="#F99C38"/>
                </svg>
                </span>
              </a>
              <p class="q2c-result__video-and-text__title">{{{title}}}</p>
              <div class="q2c-result__video-and-text__text">{{{text}}}</div>
            </div>
          {{/result_page_options.video_and_text}}
        </div>
      </div>
    </div>

    {{#result_page_options.testimonial}}
      <div class="q2c-result__testimonial">
        <div class="q2c-container">
          <div class="q2c-frame">
            <div class="q2c-bit-xxs-12 q2c-bit-sm-5 q2c-bit-md-4">
              <figure class="q2c-result__testimonial__image">
                {{{image.html}}}
              </figure>
            </div>
            <div class="q2c-bit-xxs-12 q2c-bit-sm-7 q2c-bit-md-8">
              <div class="q2c-result__testimonial__content">
                <p class="q2c-result__testimonial__icon">
                  <svg width="51" height="44" viewBox="0 0 51 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M36.312 24.664L34.3122 24.6354L34.2832 26.664H36.312V24.664ZM46.104 7.096L47.3705 8.64391L47.3882 8.62941L47.4056 8.61451L46.104 7.096ZM46.536 3.784L48.0545 2.48241L47.982 2.39787L47.9006 2.32189L46.536 3.784ZM44.376 1.768L42.8708 3.08501L42.9374 3.16111L43.0114 3.23011L44.376 1.768ZM41.064 1.62399L39.864 0.0239906L39.7994 0.0724678L39.7389 0.125999L41.064 1.62399ZM8.52 24.664L6.5202 24.6354L6.49123 26.664H8.52V24.664ZM18.312 7.096L17.112 5.496L17.0782 5.52134L17.0455 5.54808L18.312 7.096ZM18.744 3.784L20.2625 2.48241L20.19 2.39787L20.1086 2.32189L18.744 3.784ZM16.584 1.768L15.0788 3.08501L15.1454 3.16111L15.2194 3.23011L16.584 1.768ZM13.416 1.62399L12.216 0.0239906L12.1514 0.0724678L12.0909 0.125999L13.416 1.62399ZM40.056 45.096C46.9498 45.096 52.424 39.992 52.424 33.448H48.424C48.424 37.56 44.9702 41.096 40.056 41.096V45.096ZM52.424 33.448C52.424 26.9573 47.0055 21.944 40.776 21.944V25.944C44.9145 25.944 48.424 29.2827 48.424 33.448H52.424ZM40.776 21.944C39.361 21.944 38.1268 22.1515 37.2368 22.3537C36.7894 22.4554 36.4253 22.5567 36.1717 22.6298C36.0265 22.6717 35.9684 22.6894 35.9015 22.7083C35.8725 22.7164 35.8768 22.7148 35.8971 22.71C35.9073 22.7076 35.9409 22.6997 35.9881 22.6915C36.0161 22.6866 36.1435 22.664 36.312 22.664V26.664C36.4895 26.664 36.6293 26.64 36.6729 26.6324C36.7358 26.6215 36.7884 26.6095 36.8208 26.6019C36.8855 26.5865 36.9472 26.5694 36.988 26.5579C37.0606 26.5374 37.1915 26.4988 37.2803 26.4731C37.4947 26.4113 37.7786 26.3326 38.1232 26.2543C38.8172 26.0965 39.743 25.944 40.776 25.944V21.944ZM38.3118 24.6926C38.4409 15.652 45.7099 10.0026 47.3705 8.64391L44.8375 5.54808C43.3301 6.7814 34.4711 13.516 34.3122 24.6354L38.3118 24.6926ZM47.4056 8.61451C49.0339 7.21878 49.8112 4.53186 48.0545 2.48241L45.0175 5.08559C45.0407 5.11271 45.0438 5.12615 45.0445 5.12895C45.0461 5.13473 45.0506 5.15493 45.0446 5.19439C45.0314 5.28102 44.9686 5.43506 44.8024 5.57749L47.4056 8.61451ZM47.9006 2.32189L45.7406 0.305889L43.0114 3.23011L45.1714 5.24611L47.9006 2.32189ZM45.8812 0.450993C45.08 -0.464581 44.0234 -1.06 42.774 -1.06001C41.6143 -1.06001 40.6208 -0.54364 39.864 0.0239906L42.264 3.22399C42.4496 3.08482 42.59 3.00917 42.6836 2.97086C42.7739 2.93386 42.7996 2.93999 42.774 2.93999C42.7615 2.93999 42.7442 2.93842 42.7254 2.93394C42.7166 2.93184 42.7092 2.9295 42.7035 2.92741C42.7007 2.92638 42.6985 2.9255 42.697 2.92485C42.6955 2.92419 42.6948 2.92382 42.6948 2.92384C42.6948 2.92384 42.6984 2.92566 42.7056 2.93032C42.7129 2.93501 42.724 2.94278 42.7389 2.95473C42.7688 2.97876 42.8136 3.01953 42.8708 3.08501L45.8812 0.450993ZM39.7389 0.125999C35.9289 3.49638 26.104 12.7956 26.104 27.688H30.104C30.104 14.6444 38.7111 6.3756 42.3892 3.12199L39.7389 0.125999ZM26.104 27.688C26.104 33.9804 27.9166 38.3859 30.711 41.2234C33.4873 44.0423 37.0209 45.096 40.056 45.096V41.096C37.9071 41.096 35.4647 40.3497 33.561 38.4166C31.6754 36.5021 30.104 33.2036 30.104 27.688H26.104ZM12.264 45.096C19.1578 45.096 24.632 39.992 24.632 33.448H20.632C20.632 37.56 17.1782 41.096 12.264 41.096V45.096ZM24.632 33.448C24.632 26.9573 19.2135 21.944 12.984 21.944V25.944C17.1225 25.944 20.632 29.2827 20.632 33.448H24.632ZM12.984 21.944C11.5649 21.944 10.3633 22.1526 9.48897 22.356C9.05346 22.4573 8.69497 22.5584 8.45482 22.6258C8.32496 22.6622 8.25712 22.6809 8.21387 22.6916C8.10352 22.7189 8.27524 22.664 8.52 22.664V26.664C8.83676 26.664 9.12548 26.5866 9.17432 26.5745C9.29026 26.5459 9.42379 26.5083 9.53468 26.4772C9.77603 26.4096 10.0565 26.3307 10.395 26.252C11.0687 26.0954 11.9551 25.944 12.984 25.944V21.944ZM10.5198 24.6926C10.6489 15.652 17.9179 10.0026 19.5785 8.64391L17.0455 5.54808C15.5381 6.7814 6.67905 13.516 6.5202 24.6354L10.5198 24.6926ZM19.512 8.696C21.5532 7.16508 21.9072 4.40121 20.2625 2.48241L17.2255 5.08558C17.3052 5.1786 17.3007 5.23531 17.2985 5.25333C17.2966 5.26907 17.2904 5.29581 17.2683 5.33303C17.2462 5.37008 17.2013 5.42903 17.112 5.496L19.512 8.696ZM20.1086 2.32189L17.9486 0.305889L15.2194 3.23011L17.3794 5.24611L20.1086 2.32189ZM18.0892 0.450993C17.3333 -0.412819 16.3221 -1.06 15.054 -1.06001C13.8929 -1.06001 12.9254 -0.508018 12.216 0.0239906L14.616 3.224C14.8197 3.07125 14.9602 2.99389 15.0449 2.9575C15.1244 2.92335 15.1201 2.93999 15.054 2.93999C14.9757 2.93999 14.9113 2.91692 14.8878 2.90443C14.878 2.89924 14.9457 2.93285 15.0788 3.08501L18.0892 0.450993ZM12.0909 0.125999C8.28086 3.49638 -1.544 12.7956 -1.544 27.688H2.456C2.456 14.6444 11.0631 6.3756 14.7411 3.12199L12.0909 0.125999ZM-1.544 27.688C-1.544 33.9683 0.22548 38.3715 2.9802 41.2123C5.72188 44.0396 9.22528 45.096 12.264 45.096V41.096C10.1187 41.096 7.71812 40.3523 5.8518 38.4277C3.99852 36.5165 2.456 33.2157 2.456 27.688H-1.544Z"
                        fill="#FF8A00"/>
                  </svg>
                </p>
                <div class="q2c-result__testimonial__text">
                  {{{text}}}
                </div>
                <p><small><strong>- {{{name}}}</strong>, {{{company_name}}}</small></p>
                <figure class="q2c-result__testimonial__logo">
                  {{{logo.html}}}
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>
    {{/result_page_options.testimonial}}

    {{#result_page_options.cta}}
      <div class="q2c-result__cta">
        <div class="q2c-container">
          <div class="q2c-frame q2c-frame--align-sm-center">
            <div class="q2c-bit-xxs-12 q2c-bit-sm-8 q2c-bit-md-9">
              <p class="q2c-result__cta__text">
                {{{text}}}
              </p>
            </div>
            <div class="q2c-bit-xxs-12 q2c-bit-sm-4 q2c-bit-md-3">
              <a href="{{{link.url}}}" target="{{link.target}}"
                 class="q2c-button q2c-button--white-outline">{{{link.title}}}</a>
            </div>
          </div>
        </div>
      </div>
    {{/result_page_options.cta}}

    {{#result_page_options.features}}
      <div class="q2c-result__features">
        <div class="q2c-container">
          <div class="q2c-frame q2c-frame--justify-sm-space-between">
            <div class="q2c-bit-xxs-12 q2c-bit-sm-5">
              <p class="q2c-result__features__topline">{{{topline}}}</p>
              <p class="q2c-result__features__title">{{{title}}}</p>
              <div class="q2c-result__features__text">{{{text}}}</div>
              <a href="{{{button.url}}}" class="q2c-button" target="{{{button.url}}}">
                {{{button.title}}}
                <svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10.376 2L17.1897 8.81371L10.376 15.6274" stroke="#F6F6F6" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="bevel"/>
                  <path d="M17 9H1.5" stroke="#F6F6F6" stroke-width="2" stroke-linecap="round"/>
                </svg>
              </a>
            </div>
            <div class="q2c-bit-xxs-12 q2c-bit-sm-7 q2c-bit-md-6">
              <div class="q2c-result__features__features">
                {{#features}}
                  <div class="q2c-result__features__feature">
                    <figure>{{{icon.html}}}</figure>
                    <span>{{{title}}}</span>
                  </div>
                {{/features}}
              </div>
            </div>
          </div>
        </div>
      </div>
    {{/result_page_options.features}}

    {{#result_page_options.logos}}
      <div class="q2c-result__logos">
        <div class="q2c-container">
          <p class="q2c-result__logos__title">{{{title}}}</p>
          <div class="q2c-result__logos__logos">
            {{#logos}}
              <figure class="q2c-result__logos__logo">
                {{{html}}}
              </figure>
            {{/logos}}
          </div>
        </div>
      </div>
    {{/result_page_options.logos}}

  </div>
</div>
