@import 'lib/fontawesome/variables';

//== Grid overrides
//=========================================================
$soda-container-max-width: 1300px;
$soda-gutter: 36px;
$bit-padding: 18px;
$soda-class-container: 'q2c-container';
$soda-class-row: 'q2c-frame';
$soda-class-col: 'q2c-bit';

//== Colors
//=========================================================

$black: #000;
$gray-darkest: #010001;
$gray-darker: #1d1d1b;
$gray-dark: #2D2D2D;
$gray: #474441;
$gray-light: #696561;
$gray-lighter: #8E8E8E;
$gray-lightest: #F6F6F6;
$white: #fff;

// Cleverbridge
$orange: #FF8A00;
$dark-blue: #33385D;

$color-primary: $orange;
$font-color: $gray;
$headings-color: $gray;

$color-names: (
        'black': $black,
        'gray-darkest': $gray-darkest,
        'gray-darker': $gray-darker,
        'gray-dark': $gray-dark,
        'gray' : $gray,
        'gray-light' : $gray-light,
        'gray-lighter' : $gray-lighter,
        'gray-lightest' : $gray-lightest,
        'white': $white,
        'primary': $color-primary,
        'font-color': $font-color,
        'orange': $orange,
);

//== Fonts
//=========================================================
$font-family-base: 'Roboto', sans-serif;
$font-family-headings: 'Bariol', sans-serif;
$font-family-font-awesome: 'Font Awesome 5 Pro';

$font-size-html: 62.5%;

$font-weight-semi-bold: 600;

$font-size-small-xxs: 1.1rem;
$font-size-small: 1.2rem;
$font-size-base-xxs: 1.5rem;
$font-size-base: 1.6rem;
$font-size-medium-xxs: 1.8rem;
$font-size-medium: 2rem;
$font-size-large-xxs: 2.4rem;
$font-size-large: 2.8rem;

$font-size-h1-xxs: 5rem;
$font-size-h1: 5.6rem;
$font-size-h2-xxs: 4rem;
$font-size-h2: 4.8rem;
$font-size-h3-xxs: 3rem;
$font-size-h3: 3.6rem;
$font-size-h4-xxs: $font-size-large-xxs;
$font-size-h4: $font-size-large;
$font-size-h5-xxs: $font-size-medium-xxs;
$font-size-h5: $font-size-medium;
$font-size-h6-xxs: $font-size-base-xxs;
$font-size-h6: $font-size-base;

$font-size-lead-xxs: $font-size-medium-xxs;
$font-size-lead: $font-size-medium;
$font-size-display-xxs: 5rem;
$font-size-display: 7.2rem;
$font-size-caption-xxs: $font-size-small-xxs;
$font-size-caption: $font-size-small;

$font-size-quote-xxs: 3rem;
$font-size-quote: 3.7rem;

$line-height-tight: 1.3;
$line-height-small: 1.5;
$line-height-base: 1.7;
$line-height-quote: get-line-height($font-size-quote, 4.8);

$line-height-base-computed: 3.2rem;

$text-sizes: (
                ('small', $font-size-small-xxs, $font-size-small),
                ('medium', $font-size-medium-xxs, $font-size-medium),
                ('large', $font-size-large-xxs, $font-size-large),
                ('display', $font-size-display-xxs, $font-size-display),
                ('base', $font-size-base-xxs, $font-size-base)
);

//== Border radius
//=========================================================
$border-radius: .4rem;

//== Transitions
//=========================================================
$link-transition: border .2s, background .2s, color .2s, transform .2s, box-shadow .2s;
$button-transition: all .2s;
$visibility-transition: visibility .3s ease, opacity .3s ease;

//== Font awesome variables
//=========================================================
$fa-font-path: '../fonts/fontawesome';
