<span class="q2c-form__explanation">
    <span class="q2c-form__explanation__trigger" data-input-explanation-trigger>?</span>
    <span class="q2c-form__explanation__popup">
      <span class="q2c-form__explanation__popup__close" data-input-explanation-close>
        <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g opacity="0.2">
            <path d="M12.5 1L1.5 12" stroke="#474441" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round"/>
            <path d="M1.5 1L12.5 12" stroke="#474441" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round"/>
          </g>
        </svg>
      </span>
      <strong>{{{title}}}</strong>
      {{{text}}}
    </span>
</span>