<div class="q2c-form__group q2c-form__group--consent">
  <input value="{{#checked}}1{{/checked}}"
         type="checkbox"
         id="{{name}}"
         name="{{name}}"
         {{#checked}}checked{{/checked}}
  />
  <label for="{{name}}">{{{label}}}</label>
</div>