<div class="q2c-form__group">
  <label for="{{name}}">{{{label}}}</label>
  <div class="q2c-form__input">
    <select name="{{name}}" id="{{name}}">
      <option disabled selected value>Select an option</option>
      {{#choices}}
        <option value="{{k}}">{{v}}</option>
      {{/choices}}
    </select>
  </div>
  <span class="q2c-form__error">This field is required</span>
</div>