<div class="q2c-form__group">
  <label for="{{name}}">{{{label}}}</label>
  <div class="q2c-form__input">
    <input value=""
           type="email"
           id="{{name}}"
           name="{{name}}"
           {{#required}}required{{/required}}
    />
  </div>
  {{#required}}
    <span class="q2c-form__error">This field is required</span>
  {{/required}}
</div>