<div class="q2c-form__group">
  <label for="{{{name}}}">{{{label}}}</label>
  <div class="q2c-form__input {{#prefix}}q2c-form__input--has-prefix{{/prefix}}">
    {{#prefix}}
      <span class="q2c-form__input__prefix">{{{prefix}}}</span>
    {{/prefix}}
    <input type="number"
           value="{{{value}}}"
           placeholder="{{{placeholder}}}"
           id="{{{name}}}"
           name="{{{name}}}"
           {{#required}}required{{/required}}
    />
  </div>
  {{#required}}
    <span class="q2c-form__error">This field is required</span>
  {{/required}}
</div>