<div class="q2c-form__group q2c-form__group--range">
  <label for="{{name}}">
    <span>{{{label}}}</span>
    {{{explanation}}}
  </label>
  <span class="q2c-form__group--range__value" data-range-value>{{value}}%</span>
  <div class="q2c-form__input">
    <input value="{{value}}"
           type="range"
           id="{{name}}"
           name="{{name}}"
           min="0"
           max="100"
           step="5"
           {{#required}}
            required
           {{/required}}
    />
  </div>
  <div class="q2c-form__group--range__percentages">
    <span>0%</span>
    <span>100%</span>
  </div>
</div>